<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tensorflow.lite.examples.classification">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:label="Como en Casa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SuggestedRecipesActivity">
        </activity>
        <activity android:name=".PresentationActivity" />
        <activity
            android:name=".FoodsFoundCameraActivity"
            android:label="@string/title_activity_foods_found_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NutricionalInfoActivity" />
        <activity android:name=".RecipeActivity" />
        <activity android:name=".EmptyActivity" />
        <activity android:name=".StartActivity">
        </activity>
        <activity android:name=".RecipeByIngredientActivity" />
        <activity android:name=".RecipeByCategoryActivity" />
        <activity
            android:name=".ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassifierActivity"
            android:label="@string/activity_name_classification"
            android:screenOrientation="portrait" />
    </application>

</manifest>